.choosingDivsSpace {
  position: relative;

  height: 75px;
  width: 90%;
  left: 5%;
  margin-top: 30px;
  top: 30px;

  border-radius: 10px;

  font-size: 20px;
  font-family: serif;
  text-align: left;
  vertical-align: center;
  color: white;

  background-color: rgba(50, 50, 50, 0.5);
}

.choosingDivsSpace p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

.coordsInput {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);

  font-size: 20px;
}

.coordsInput select {
  width: 176px;
  height: 30px;
  text-align: center;
}

#xInputPositiveNumbers {
  position: absolute;
  top: 30%;
}

#xInputNegativeNumbers {
  bottom: 50%;
}

#textBox {
  height: 25px;
}

input[type="text"]::placeholder {
  text-align: center;
}

#button {
  height: 100%;
  width: 30%;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 0%;
}

#resultText {
  position: absolute;
  left: 40%;
}

@media only screen and (max-width: 1300px ) {
  .choosingDivsSpace {
    margin-top: 0px;
    top: 0px;
  }

  .choosingDivsSpace p {
    top: 20%;
  }

  .coordsInput {
    top: 70%;
    transform: translate(0, -50%);
  }

  #button {
    font-size: 10px;
  }

  #resultText {
    position: absolute;
    left: 40%;
    top: 15%;
    transform: translate(0, 20%);
  }
}
